<input type="text" ng-model="ac.makeClass.name">


Class Name</input>
<br>
<input type="text" ng-model="ac.makeClass.day">Class Day</input>
<br>
<input type="text" ng-model="ac.makeClass.time">Class Time</input>
<br>
<input type="text" ng-model="ac.makeClass.instructor">Class Instructor</input>
<br>
<input type="text" ng-model="ac.makeClass.length">Class Length(minutes)</input>
<br>
<input type="text" ng-model="ac.makeClass.age">Class Age Level</input>
<br>
<input type="text" ng-model="ac.makeClass.type">Class Type</input>
<br>
<input type="text" ng-model="ac.makeClass.spotsAvailable">Spots Available</input>
<br>
<button ng-click="ac.makeNewClass(ac.makeClass)" type="button">Click Me!</button>


<h4>Add Instructor</h4>
<input type="text" ng-model="ac.instructor.firstName">First Name</input>
<input type="text" ng-model="ac.instructor.lastName">Last Name</input>
<input type="text" ng-model="ac.instructor.goesBy">Goes By</input>
Classes Instructor Teaches:
<label ng-repeat="class in ac.listOfClasses">
    <input type="checkbox" checklist-model="ac.instructor.classesTaught" checklist-value="class"> {{class.class}}
</label>
<button ng-click="ac.addInstructor(ac.instructor)" type="button">Add Instructor</button>